* {
  box-sizing: border-box;
}

h1,
h2,
p {
  color: white;
  text-shadow: gold 0px 2px 5px;
}

body {
  background: url("./img/bg-abstract-scheme.webp") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80vw;
  margin: auto;
  color: white;
  padding: 20px;
  font-size: 1.5rem;
}

.button {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  width: 140px;
  height: 100px;
  border: 2px solid gray;
  border-radius: 40px;
  color: white;
}

.button.light {
  background: lightgoldenrodyellow;
  box-shadow: yellow 0px 0px 50px 10px;
  color: black;
}

.button.timed {
  background: rgb(253, 24, 81);
  box-shadow: rgb(255, 0, 128) 0px 0px 50px 10px;
}

.button.switch {
  background: rgb(109, 201, 255);
  box-shadow: rgb(0, 238, 255) 0px 0px 50px 10px;
}
